{{ if .Site.Params.topbar.enable }}
<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          <!-- <div class="language-switcher">
            <p>
              {{ $currentPage := . }}
              {{ if eq "English" $.Site.Language.LanguageName }}
                {{ range .Translations }}
                  {{ if eq .Lang "es" }}
                    <a href="{{ .Permalink }}">Español</a>
                  {{ end }}
                {{ end }}
              {{ else }}
                {{ range .Translations }}
                  {{ if eq .Lang "en" }}
                    <a href="{{ .Permalink }}">English</a>
                  {{ end }}
                {{ end }}
              {{ end }}
            </p>
          </div> -->
        </div>
        <div class="col-xs-7 text-right">
          <!-- {{ .Site.Params.topbar.text | safeHTML }} -->
          <p>Cell: <a href='tel:+593-98-5848720'>+593-98-5848720</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: <a href='mailto:info@galapagosdiveacademy.com'>info@galapagosdiveacademy.com</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}
