{{ if .Site.Params.topbar.enable }}
<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          <!-- <div class="language-switcher">
            <p>
              {{ $currentPage := . }}
              {{ if eq "English" $.Site.Language.LanguageName }}
                {{ range .Translations }}
                  {{ if eq .Lang "es" }}
                    <a href="{{ .Permalink }}">Español</a>
                  {{ end }}
                {{ end }}
              {{ else }}
                {{ range .Translations }}
                  {{ if eq .Lang "en" }}
                    <a href="{{ .Permalink }}">English</a>
                  {{ end }}
                {{ end }}
              {{ end }}
            </p>
          </div> -->
        </div>
        <div class="col-sm-12 text-right">
          <!-- {{ .Site.Params.topbar.text | safeHTML }} -->
          <p>Tel:&nbsp;<a href='tel:+593982957768'>+5939829577680</a>&nbsp;/&nbsp;<a href='tel:+593985271969'>+593985271969</a>&nbsp;&nbsp; Email:&nbsp;<a href='mailto:galapagosdivetraining@gmail.com'>galapagosdivetraining@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}
