{{ $thumbs := split (.Get "thumbs") "," }}
{{ $fullsize := split (.Get "fullsize") "," }}
{{ $altText := split (.Get "alt") "," }}
{{ $paddingTop := default "" (.Get "paddingTop") }}
{{ $paddingBottom := default "" (.Get "paddingBottom") }}

<div class="image-row" style="padding-top: {{ $paddingTop }}; padding-bottom: {{ $paddingBottom }}">
    {{ range $index, $thumb := $thumbs }}
        <div class="image-wrapper">
          <a href="{{ index $fullsize $index | safeURL | relURL }}" class="lightbox-image gallery" title="{{ index $altText $index }}" data-alt-text="{{ index $altText $index }}">
                <img src="{{ $thumb | safeURL | relURL }}" alt="{{ index $altText $index }}" title="{{ index $altText $index }}">
            </a>
        </div>
    {{ end }}
</div>
