<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="align-right" width="60" viewBox="0 0 60 137">
  <desc>Dive logos linking to their respective websites: PADI (Professional Association of Diving Instructors) and SSI (Scuba Schools International).</desc>
  <image width="60" height="137" xlink:href='{{ "img/60-SSI-PADI-logo.png" | absURL }}'></image> <a xlink:href="https://www.padi.com/" target="_blank"s>
    <title>PADI</title>
    <rect x="0" y="0" fill="#fff" opacity="0" width="60" height="88"></rect>
  </a><a xlink:href="https://www.divessi.com/" target="_blank">
    <title>SSI</title>
    <rect x="1" y="87" fill="#fff" opacity="0" width="60" height="50"></rect>
  </a>
</svg>

